@{
    ViewData["Title"] = "Home";
}
@model List<Product>
<div>
    <div>
        <h1 class="h1-convert">NỘI DUNG</h1>
        <div class="padding-div-bottom">
            <div class="box-main">
                <div class="box-one">
                    <div class="box-one-content">
                        <div style="color: white;">
                            <img src="Image/Icon/chat.svg" alt=""/>
                            Tiêu đề
                        </div>

                        <div class="box-one-box-arrange">
                            @foreach (var item in Model)
                            {
                                <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                                    <div>
                                        <img src="@item.Imgage" alt="" class="box-one-item-image"/>
                                        <div class="box-one-item-title">
                                            @item.Title
                                        </div>
                                        <div class="box-one-item-content">
                                            @item.Content
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>

                <div class="box-two">
                    <div style="color: white;">
                        <img src="Image/Icon/chat.svg" alt=""/>
                        Tiêu đề
                    </div>
                    <div>
                        @foreach (var item in Model)
                        {
                            <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                                <div class="box-two-box-arrange">
                                    <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                                    <div class="box-two-content">
                                        <div class="box-two-item-title">@item.Title</div>
                                        <div class="box-two-item-content">@item.Content</div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-div-bottom">
            <div class="box-main">
                <div class="box-one">
                    <div class="box-one-content">
                        <div style="color: white;">
                            <img src="Image/Icon/chat.svg" alt=""/>
                            Tiêu đề
                        </div>

                        <div class="box-one-box-arrange">
                            @foreach (var item in Model)
                            {
                            <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                                <div>
                                    <img src="@item.Imgage" alt="" class="box-one-item-image"/>
                                    <div class="box-one-item-title">
                                        @item.Title
                                    </div>
                                    <div class="box-one-item-content">
                                        @item.Content
                                    </div>
                                </div>
                            </a>
                            }
                        </div>
                    </div>
                </div>

                <div class="box-two">
                    <div style="color: white;">
                        <img src="Image/Icon/chat.svg" alt=""/>
                        Tiêu đề
                    </div>
                    <div>
                        @foreach (var item in Model)
                        {
                        <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                            <div class="box-two-box-arrange">
                                <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                                <div class="box-two-content">
                                    <div class="box-two-item-title">@item.Title</div>
                                    <div class="box-two-item-content">@item.Content</div>
                                </div>
                            </div>
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-div-bottom">
            <div class="box-main">
                <div class="box-one">
                    <div class="box-one-content">
                        <div style="color: white;">
                            <img src="Image/Icon/chat.svg" alt=""/>
                            Tiêu đề
                        </div>

                        <div class="box-one-box-arrange">
                            @foreach (var item in Model)
                            {
                            <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                                <div>
                                    <img src="@item.Imgage" alt="" class="box-one-item-image"/>
                                    <div class="box-one-item-title">
                                        @item.Title
                                    </div>
                                    <div class="box-one-item-content">
                                        @item.Content
                                    </div>
                                </div>
                            </a>
                            }
                        </div>
                    </div>
                </div>

                <div class="box-two">
                    <div style="color: white;">
                        <img src="Image/Icon/chat.svg" alt=""/>
                        Tiêu đề
                    </div>
                    <div>
                        @foreach (var item in Model)
                        {
                        <a style="text-decoration: none;" asp-area="" asp-controller="Detail" asp-action="Index">
                            <div class="box-two-box-arrange">
                                <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                                <div class="box-two-content">
                                    <div class="box-two-item-title">@item.Title</div>
                                    <div class="box-two-item-content">@item.Content</div>
                                </div>
                            </div>
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
  
    </div>

    <div id="menuContentMobile">
        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>