@model List<Product>
@{
    ViewBag.Title = "Detail";
    Layout = "_Layout";
}

<div>
    <div>
        <h1 class="h1-convert">NỘI DUNG</h1>
        <div class="padding-div-bottom">
            <div class="box-main">
                <div class="box-one">
                    <div class="box-one-content" style="background: none">
                        <div>
                            <div>
                                <div style="color: white;padding-bottom: 15px;">
                                    Tìm theo khu vực
                                </div>
                                <div style="border: solid 1px #555;border-radius: 5px;padding: 5px;">
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                </div>
                            </div>

                            <div style="display: flex;margin-top: 15px; background: black;border-radius: 5px">
                               
                                <div style="width: 100%;color:#7c9292;">
                                    <div style=" margin: 8px;">
                                        Hôm nay
                                    </div>
                                    <div style="border: 1px #555 dashed; border-radius: 5px; padding: 9px; margin: 8px;">
                                        <div style="display: flex">
                                            <div style="color: #7c9292; width: 72px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">Tên: </div>
                                            <div style="margin-left: 7px;text-transform: capitalize;    color: #ff0;">Abc</div>
                                        </div>
                                        <div style="display: flex">
                                            <div style="color: #7c9292; width: 72px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">Phone: </div>
                                            <div style="margin-left: 7px;text-transform: capitalize;    color: #ff0;">09123234345</div>
                                        </div>
                                        <div style="display: flex">
                                            <div style="color: #7c9292; width: 72px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">Giá : </div>
                                            <div style="margin-left: 7px;text-transform: capitalize;    color: #ff0;">100k</div>
                                        </div>
                                        <div style="display: flex">
                                            <div style="color: #7c9292; width: 72px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">TG làm việc : </div>
                                            <div style="margin-left: 7px;text-transform: capitalize;    color: #ff0;">24/24</div>
                                        </div>
                                        <div style="display: flex">
                                            <div style="color: #7c9292; width: 72px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">Chiều Cao: </div>
                                            <div style="margin-left: 7px;text-transform: capitalize;    color: #ff0;">1m62</div>
                                        </div>
                                    </div>
                                    
                                    <div style="padding: 0 14px">
                                        <img src="Image/imgdemo.jpg" style="width: 100%;"/>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div style="color: white;padding-bottom: 15px;">
                                    Tìm theo khu vực
                                </div>
                                <div style="border: solid 1px #555;border-radius: 5px;padding: 5px;">
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                    <div class="box-item">Hà Nội</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-two" style="background: none;padding: 0">
                    <div style="background: black; padding: 11px;border-radius: 5px;">
                        <div style="color: white;">
                            <img src="Image/Icon/chat.svg" alt=""/>
                            Tiêu đề
                        </div>
                        <div>
                            @foreach (var item in Model)
                            {
                                <div class="box-two-box-arrange">
                                    <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                                    <div class="box-two-content">
                                        <div class="box-two-item-title">@item.Title</div>
                                        <div class="box-two-item-content">@item.Content</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div style="background: black; padding: 11px;margin-top: 14px;border-radius: 5px;">
                        <div style="color: white;">
                            <img src="Image/Icon/chat.svg" alt=""/>
                            Tiêu đề
                        </div>
                        <div>
                            @foreach (var item in Model)
                            {
                            <div class="box-two-box-arrange">
                                <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                                <div class="box-two-content">
                                    <div class="box-two-item-title">@item.Title</div>
                                    <div class="box-two-item-content">@item.Content</div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menuContentMobile">
        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="margin-bottom: 14px">
            <div style="color: white;">
                <img src="Image/Icon/chat.svg" alt=""/>
                Tiêu đề
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="box-two-box-arrange">
                        <img alt="" src="@item.Imgage" class="box-two-item-image"/>
                        <div class="box-two-content">
                            <div class="box-two-item-title">@item.Title</div>
                            <div class="box-two-item-content">@item.Content</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>